@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
   
  }

  .myNavigation {
    z-index: 2;
    
  }

  .myHeader {
    background: url(../app/assets/pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .container {
    z-index: 1;
    position: relative;
  }


  .myHeader::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(20, 20, 20));
    bottom: 0;
  }

  /* Hero */
  
  /* End Hero

  /* My Slider */

  .mySwiper  .image {
    background: url(../app/assets/sliders/setup-desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .mySwiper .slider-2 {
    background: url(../app/assets/sliders/ngoding\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .mySwiper .slider-3 {
    background: url(../app/assets/sliders/photo-1535957998253-26ae1ef29506.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .mySwiper .slider-4 {
    background: url(../app/assets/sliders/photo-1579578304186-f0626704bbd4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  /* .myScroll::-webkit-scrollbar {
    display: block;
  }
   */
  
.swiper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
  /* End My Slider */



  /* Underline animation */
  .link-underline {
    /* border-bottom-width: 0; */
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
  
  }
  
  .link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient( to right ,  #22d3ee, #2bccb8 
    /* #bef264, */
     /* #defaae   */
      )
  }
  
  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
  /* End Underline animation */

  /* Mobile */

  @media (min-width: 640px) { 

    .myScroll::-webkit-scrollbar {
      display: none;
    }
  }
  
}